@charset "UTF-8";
/*Variables de tamaño de pantalla*/
/*Variables de color*/
* {
  margin: 0;
  padding: 0;
  color: white;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
  margin-top: 20px;
  color: rgb(255, 215, 0);
}

h2 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(../img/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(4, 4, 48);
}

main {
  padding-bottom: 30px;
}

p {
  font-family: "Heebo", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
}
header img {
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(4, 4, 48);
  padding: 0.5em;
  z-index: 1;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(255, 215, 0);
}
nav ul {
  margin-bottom: 0px;
}
nav ul li {
  display: block;
  text-align: center;
  padding: 5px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(109, 109, 14);
  transition: 0.3s;
}
nav ul li a:hover {
  color: rgb(6, 84, 158);
  text-shadow: 2px 4px 4px rgba(46, 91, 173, 0.6);
  font-size: 130%;
}
nav ul li a:active {
  color: rgb(255, 215, 0);
}

@media screen and (min-width: 641px) {
  nav ul li {
    display: inline;
  }
}
.main__video, .main__intro {
  display: flex;
  justify-content: center;
}

.main__intro {
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}
.main__intro img {
  position: relative;
}

iframe {
  padding-top: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 2px;
  width: 100%;
  background-color: rgb(4, 4, 48);
  opacity: 70%;
}
footer p {
  text-align: right;
  margin-bottom: 0px;
}

.main__error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__error img {
  width: 80%;
}

@media screen and (min-width: 641px) {
  .main__error img {
    width: auto;
  }
}
label {
  color: white;
}

input {
  color: black;
  cursor: pointer;
}

form {
  display: inline-block;
}

.form__item {
  display: flex;
  flex-direction: column;
}
.form__item label {
  text-decoration: underline;
}

.main__form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.form__contacto {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 40%;
  align-items: center;
}

.form__submit {
  width: 5rem;
  border-radius: 20px;
}

.form__reset {
  width: 7rem;
  border-radius: 20px;
}

.main__fichas {
  display: flex;
  flex-direction: column;
  width: 75%;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7 {
  display: none;
  animation-name: rotacion;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
  width: 75%;
  margin-left: 2rem;
}

@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 641px) {
  .fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7 {
    display: block;
    opacity: 75%;
  }
  .main__fichas {
    display: grid;
    grid-template-areas: "ficha1 star1" "star2 ficha2" "ficha3 star3" "star4 ficha4" "ficha5 star5" "star6 ficha6" "ficha7 star7";
  }
}
@media screen and (min-width: 1000px) {
  .fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7 {
    display: block;
    opacity: 75%;
  }
  .main__fichas {
    display: grid;
    grid-template-areas: "ficha1 star1 ficha2 star2" "star3 ficha3 star4 ficha4" "ficha5 star5 ficha6 star6" "star7 ficha7 . .";
  }
}
.fichas__ficha1 {
  grid-area: ficha1;
}

.fichas__ficha2 {
  grid-area: ficha2;
}

.fichas__ficha3 {
  grid-area: ficha3;
}

.fichas__ficha4 {
  grid-area: ficha4;
}

.fichas__ficha5 {
  grid-area: ficha5;
}

.fichas__ficha6 {
  grid-area: ficha6;
}

.fichas__ficha7 {
  grid-area: ficha7;
}

.fichas__star1 {
  grid-area: star1;
  grid-area: star2;
  grid-area: star3;
  grid-area: star4;
  grid-area: star5;
  grid-area: star6;
}

.main__mapa {
  display: flex;
  justify-content: center;
}

.main__autor {
  justify-content: center;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .main__autor img {
    width: 25%;
  }
}
.main__galeria {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.carousel {
  width: 100%;
  margin-top: 10px;
}

.carousel-control-prev-icon {
  background-image: url(../img/atras.png);
}

.carousel-control-next-icon {
  background-image: url(../img/adelante.png);
}

@media screen and (min-width: 641px) {
  .carousel {
    width: 85%;
  }
}
@media screen and (min-width: 1000px) {
  .carousel {
    width: 70%;
  }
}
@media screen and (min-width: 1400px) {
  .carousel {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
