*
{
    margin: 0;
    padding: 0;
    color: white;
}

img
{
    max-width: 100%;
}

h1
{
    font-family: 'Sedgwick Ave Display', cursive;
}

p
{
    font-family: 'Heebo', sans-serif;
}

nav
{
    display: flex;
    justify-content: space-around;
    background-color: rgb(1, 1, 65);
    padding: 0.5em; 
    z-index: 1;
    border-radius: 5px;
}

nav ul
{
    margin-bottom: 0px;
}

nav ul li
{
    display: inline;
    padding: 5px;
}

body
{
    display: flex;
    flex-direction: column;
    background-image: url(IMG/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header
{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1
{
    text-align: center;
    margin-top: 20px;
}

h2
{
    text-align: center;
}

.intro
{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    
    width: 100%;
}

.intro p
{
    max-width: 30%;
}

.intro img
{
    position: relative;
}

header img 
{
    margin: 0px;
}

nav li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: rgb(109, 109, 14);
    
}

a:hover 
{
    color: rgb(6, 84, 158)
}

nav
{
    border-style: solid;
    border-color: gold;
}

body
{
    background-color: rgb(4, 4, 48);
}

main
{
    padding-bottom: 30px;
}
h1
{
    color: gold
}

label
{
    color: white;
}

iframe
{
    padding-top: 20px;
}

footer
{
    padding-top: 2px;
    background-color: gray;
}

footer p 
{
    text-align: right;
    margin-bottom: 0px;
}

input
{
    color: black;
}

.video
{
    display: flex;
    justify-content: center;
}

.main-form
{
    text-align: center;
}

form
{
    display:inline-block;
}

.galeria
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.carousel
{
    width: 75%;
    margin-top: 10px;
}

.mapa
{
    display: flex;
    justify-content: center;
}

input
{
    cursor: pointer;
}

.carousel-control-prev-icon
{
    background-image: url(IMG/atras.png);
    
}

.carousel-control-next-icon
{
    background-image: url(IMG/adelante.png);
}

.fichas
{
    width: 75%;
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.star1, .star2, .star3, .star4, .star5, .star6, .star7
{
    display: none;
}

@media screen and (min-width: 641px)
{
    .star1, .star2, .star3, .star4, .star5, .star6, .star7
    {
        display: block;
        opacity: 75%;
    }
    .fichas
    {
        display: grid;
        grid-template-areas: 
        "ficha1 star1"
        "star2 ficha2"
        "ficha3 star3"
        "star4 ficha4"
        "ficha5 star5"
        "star6 ficha6"
        "ficha7 star7"
        ;
    }
}

@media screen and (min-width: 1000px)
{
    .star1, .star2, .star3, .star4, .star5, .star6, .star7
    {
        display: block;
        opacity: 75%;
    }
    .fichas
    {
        display: grid;
        grid-template-areas: 
        "ficha1 star1 ficha2 star2"
        "star3 ficha3 star4 ficha4"
        "ficha5 star5 ficha6 star6"
        "star7 ficha7 . ."
        ;
    }
}

.ficha1
{
    grid-area: ficha1;
}

.ficha2
{
    grid-area: ficha2;
}

.ficha3
{
    grid-area: ficha3;
}

.ficha4
{
    grid-area: ficha4;
}

.ficha5
{
    grid-area: ficha5;
}

.ficha6
{
    grid-area: ficha6;
}

.ficha7
{
    grid-area: ficha7;
}

.star1
{
    grid-area: star1;
}
.star1
{
    grid-area: star2;
}
.star1
{
    grid-area: star3;
}
.star1
{
    grid-area: star4;
}
.star1
{
    grid-area: star5;
}
.star1
{
    grid-area: star6;
}