.main__fichas
{
    @include flex-columna;
    width: 75%;
    width: 100%;
    align-items: center;
    gap: 40px;
}

.fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7
{
    display: none;
    animation-name: rotacion;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
    width: 75%;
    margin-left: 2rem;
}

@keyframes rotacion
{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

@media screen and (min-width: $tablet)
{
    .fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7
    {
        display: block;
        opacity: 75%;
    }
    .main__fichas
    {
        display: grid;
        grid-template-areas: 
        "ficha1 star1"
        "star2 ficha2"
        "ficha3 star3"
        "star4 ficha4"
        "ficha5 star5"
        "star6 ficha6"
        "ficha7 star7"
        ;
    }
}

@media screen and (min-width: $desktop)
{
    .fichas__star1, .fichas__star2, .fichas__star3, .fichas__star4, .fichas__star5, .fichas__star6, .fichas__star7
    {
        display: block;
        opacity: 75%;
    }
    .main__fichas
    {
        display: grid;
        grid-template-areas: 
        "ficha1 star1 ficha2 star2"
        "star3 ficha3 star4 ficha4"
        "ficha5 star5 ficha6 star6"
        "star7 ficha7 . ."
        ;
    }
}

.fichas__ficha1
{
    grid-area: ficha1;
}

.fichas__ficha2
{
    grid-area: ficha2;
}

.fichas__ficha3
{
    grid-area: ficha3;
}

.fichas__ficha4
{
    grid-area: ficha4;
}

.fichas__ficha5
{
    grid-area: ficha5;
}

.fichas__ficha6
{
    grid-area: ficha6;
}

.fichas__ficha7
{
    grid-area: ficha7;
}

.fichas__star1
{
    grid-area: star1;
    grid-area: star2;
    grid-area: star3;
    grid-area: star4;
    grid-area: star5;
    grid-area: star6;
}