*
{
    margin: 0;
    padding: 0;
    color: white;
}

img
{
    max-width: 100%;
}

h1
{
    font-family: 'Sedgwick Ave Display', cursive;
    text-align: center;
    margin-top: 20px;
    color: $color-secundario;
}

h2
{
    text-align: center;
}

body
{
    @include flex-columna;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: $color-primario;
}

main
{
    padding-bottom: 30px;
}

p
{
    font-family: 'Heebo', sans-serif;
}

header
{
    @include flex-columna;
    position: sticky;
    top: 0;
    z-index: 1;

    img 
    {
        margin: 0px;
    }
}

nav
{
    display: flex;
    justify-content: space-around;
    background-color: $color-primario;
    padding: 0.5em; 
    z-index: 1;
    border-radius: 5px;
    border-style: solid;
    border-color: $color-secundario;

        ul
        {
        margin-bottom: 0px;

            li
            {
                display: block;
                text-align: center;
                padding: 5px;
                list-style: none;

                a
                {
                    text-decoration: none;
                    color: $color-terciario;
                    transition: .3s;
                    
                    &:hover
                    {
                        color: rgb(6, 84, 158);
                        text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
                        font-size: 130%;
                    }

                    &:active
                    {
                        color: $color-secundario;
                    }
                }
            }
        }
}

@media screen and (min-width: $tablet) 
{
    nav
    {
        ul
        {
            li
            {
                display: inline;
            }
        }
    }
}

.main__video
{
    display: flex;
    justify-content: center;
}

.main__intro
{
    @extend .main__video;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;

    img
    {
        position: relative;
    }
}

iframe
{
    padding-top: 20px;
}

footer
{
    position: fixed;
    bottom: 0;
    padding-top: 2px;
    width: 100%;
    background-color: $color-primario;
    opacity: 70%;

    p 
    {
        text-align: right;
        margin-bottom: 0px;
    }
}

.main__error
{
    @include flex-columna;
    align-items: center;

    img 
    {
        width: 80%;
        
    }
}

@media screen and (min-width: $tablet) 
{
    .main__error
    {
        img 
        {
            width: auto;
        }
    }
}