.main__mapa
{
    display: flex;
    justify-content: center;
}

.main__autor
{
    justify-content: center;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1000px)
{
    .main__autor img
    {
            width: 25%;
    }
}